:root{
    --black: #020202;
    --rose: #e5d1d0;
    --green: #3DDC97;
    --blue: #457B9D;
    --red: #922D50;
    --width: 100vmax;
}
body{
    background-color: var(--red); 
    margin:0;
}
.header-container{
    display:flex;
    justify-content: space-between;
    background-color: var(--rose);
    top: 45vh;
    width: var(--width);
}
.login-container{
    width: var(--width);
    display:grid;
    grid-template-columns: auto auto;
    position:absolute;
    top: 25%;
    background-color: var(--rose);
    height: 50%;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    margin:0;
    padding:0;
}
.navbar{
    float:left;
    list-style-type: none;
    padding: 0;
}
.nav-item{
    display:inline;
}
.main-container{
    display:grid;
    justify-content: space-evenly;
    background-color: red;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.main-item{
    background-color: white;
}
.item1{
    grid-column:1;
    grid-row:1;
}
.item2{
    grid-column:2;
    grid-row:1;
}
.item3{
    grid-row:2;
    grid-column: 1 / span 2;
}
/* GUEST */
img{
    height: calc(97vh - (97vh - 100%));
    width: 100%;
    overflow:visible;
    filter: blur(12px);
}
#guestPop{
    position:absolute;
    top: 25%;
    width: var(--width);
    background-color: var(--rose);
    height: 50%;
}
.guestHeader{
    text-align: center;
}
.guestLink{
    background-color:var(--blue);
    color:white;
    border-radius: 20px;
    margin-left: 30vw;
    height: 5vh;
    padding: 10px;
    overflow:hidden;
}