@import "tailwindcss";
:root{
    --black: #020202;
    --rose: #e5d1d0;
    --green: #3DDC97;
    --blue: #457B9D;
    --red: #922D50;
    --white: #FFF;
    --width: 100vmax;
    --color-gray-700: oklch(37.3% 0.034 259.733);
}









 th, td{
    border: 2px solid;
    border-collapse: collapse;
    padding: 10px;
}
.fa:hover{
    color: orange;
}
.checked{
    color:orange;
}



@layer components{
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: var(--color-gray-700);
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
    .hiddenCheckBox{
        visibility: hidden;
    }
    .drinkInvCBox{
        padding-left: 1rem;
        
    }
    .drinkItem{
        font-size: larger;
    }
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}


/* GUEST */





.guestPop{
    position:absolute;
    top: 25%;
    width: var(--width);
    background-color: var(--rose);
    height: 50%;
}
.guestHeader{
    text-align: center;
}
.guestLink{
    background-color:var(--blue);
    color:white;
    border-radius: 20px;
    margin-left: 30vw;
    height: 6vh;
    padding: 10px;
    overflow:hidden;
    justify-content: left;
}