<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe Generator</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <%- include('nav'); -%>
        <main>
            <% if (user != 'guest') {%>
                <div class="main-container">
                    <div class="main-item item1">1</div>
                    <div class="main-item item2">2</div>
                    <div class="main-item item3">3</div>
                </div>
            <% } else {%>
                <div class="img-container">
                    <!-- <img id='slides' src="images/Cutting board.jpg"> -->
                </div>
                
                <div id="guestPop" style="color:black">
                    <h1 class="guestHeader">Please create an account to use this website to its fullest capabiltiies</h1>
                    <br>
                    <a class="guestLink">Guest Query</a>
                    <a class="guestLink" href="account">Log in/Sign up</a>
                </div>                
            <% }%>
            
        </main> 
    </body>
</html>