<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe Generator</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div class="header-container">
            <div class="header-left-container">
                <p>Recipe Generator</p>
                <%# X Edition #%>
            </div>
            <div class="header-right-container">
                <nav>
                    <ul class="navbar">
                        <li class="nav-item"> <a>Food Recipes</a> </li>
                        <li class="nav-item"> <a>Drinks</a> </li>
                        <li class="nav-item"> <a>Users</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
        <img id='slides' src="images/Cutting board.jpg">
        <div id="guestPop" style="color:white">
            Please create an account to use this website to its fullest capabiltiies
            <br>
            <button>Guest Query</button>
            <button>Log in/Sign up</button>
        </div>
        <!-- <main>
            <div class="main-container">
                <div class="main-item item1">1</div>
                <div class="main-item item2">2</div>
                <div class="main-item item3">3</div>
            </div>
        </main> -->
    </body>
</html>