
<div class="nav-container">

    <% if (user != 'guest') {%>
        <a id="split" href="/"><%=user%> Recipe Hub! </a>
    <% } else {%>
        <a id="split" href="/">Recipe Hub</a>
    <% }%>
    
    <% if (user == 'guest') {%>
        <a class ='nav-item' href="/account">Login/Singup</a>
        <a class ='nav-item' >Drinks</a> 
        <a class ='nav-item'>Food Recipes</a>
    <% } else {%>
        <a class ='nav-item' href="/logout">Logout</a>
        <a class ='nav-item'><%=user%>'s Profile</a>
        <a class ='nav-item' href="/drinkRecipes">Drinks</a> 
        <a class ='nav-item' href="/foodRecipes">Food Recipes</a>
        
    
    <% }%>
</div>